@font-face {
  font-family: "Poppins";
  src: url("./Fonts/Poppins/Poppins-Regular.woff2") format("woff2"),
    url("./Fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
